[Unit]
Description=Sway background daemon
Documentation=man:swaybg(1)
PartOf=graphical-session.target
After=graphical-session.target
#ConditionPathExists=%h/Pictures/wallpaper.%i

[Service]
Type=simple
#ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
#ExecStart=/usr/bin/swaybg -i %h/Pictures/wallpaper.%i -m fill
ExecStart=/usr/bin/swaybg -c "#%i"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
