[user]
	email = fromzeroluke1@gmail.com 
	name = Luca

[core]
	editor = nvim
[pull]
	rebase = false

[gpg]
	program = gpg2

[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig

[includeIf "gitdir:~/.cfg/"]
    path = ~/github/.gitconfig

[alias]
  cm = commit -m
  ls = log --show-signature --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  l  = log --show-signature --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[init]
	defaultBranch = main
