[user]
	email = fromzeroluke1@gmail.com 
	name = Luca
	signingkey = 0FDAEF91EB9B7A0C

[core]
	editor = nvim

[gpg]
	program = gpg2

[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig

[includeIf "gitdir:~/.cfg/"]
    path = ~/github/.gitconfig

[alias]
  cm = commit -m
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  l  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
